parameters:
    level: 5
    paths:
        - src
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
        # Doctrine entity properties are initialized before persist
        - identifier: doctrine.columnType
        - identifier: doctrine.associationType
